In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
sns.set()

In [5]:
data=pd.read_csv("http://bit.ly/w-data")

In [6]:
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [ ]:
data.head(6)

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
data.corr()

In [ ]:
y = data['Scores']
x = data['Hours']
plt.scatter(x,y)
plt.xlabel('Hours',fontsize=20)
plt.ylabel('Scores',fontsize=20)
plt.title('Hours vs Scores',fontsize=30)
plt.show()

In [ ]:
x = data.iloc[:,:-1].values
y = data.iloc[:,1].values

In [ ]:

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

In [ ]:
reg = LinearRegression()
reg.fit(x_train,y_train)

In [ ]:
slope = reg.coef_
intercept = reg.intercept_
regline = slope*x + intercept
plt.scatter(x,y)
plt.plot(x,regline)
plt.show()

In [ ]:
a = reg.score(x_train,y_train)*100
b = reg.score(x_test,y_test)*100

print("Training Accuracy = ",a)
print("Test Accuract = ",b)

In [ ]:
y_predicted = reg.predict(x_test)
df = pd.DataFrame({"y_Actual" : y_test, "y_Predicted" : y_predicted})
df

In [ ]:
print("Mean Squared Error : ", metrics.mean_squared_error(y_test,y_predicted))
print("Mean Absolute Error : ", metrics.mean_absolute_error(y_test,y_predicted))
print("The R^2 value is : ",reg.score(x_test,y_test))

In [ ]:
pred_score = reg.predict([[9.25]])
print("The predicted score for the student studying 9.25 hours/day will be" ,pred_score[0])